.footer{
    background: $blue-color;
    padding: 3rem 1rem;

}

.footer-img{

}

.footer-content{
    .icon {
        font-size: 1.3rem;
        font-weight: bold;
        color: $white-color;
        padding: 0.5rem;
        border-radius: 50%;
        background: $white-color;
        margin: auto 0.5rem;

    }
    .fa-envelope-open{ color: $blue-color; }
    .fa-whatsapp{ color: #089720; }
    .fa-telegram-plane{ color: $blue-color; }
}
