.header{
    background: rgb(10,129,194);
    background: linear-gradient(90deg, rgba(10,129,194,0.500437675070028) 0%, rgba(10,129,194,0.46122198879551823) 45%, rgba(0,212,255,0.4640231092436975) 100%), url('/build/img/header.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:30rem;
    width: 100%;
}

.logo{
    .logo-img img{
        width: 90%;

        @include pc{
            width: 100%;
        }
    }
}