*{
    padding: 0;
    margin: 0;
}
*::after, *::before
{
    box-sizing: inherit;
}
html
{
    box-sizing: border-box;
}

body{
    background: #dfdede;
}

.fc-w{
    color: $white-color;
}

.fc-b{
    color: $blue-color;
}

p, a, li{
    font-family: 'Open Sans', sans-serif;
}

img{ width: 100%; }