$blue-color: #1b7baf;
$red-color: #b91616;
$black-color: #000000;
$text-color: #363636;
$white-color: #FFFFFF;

$bootstrap: #572364;
$sass: #CD6799;
$js: #f7e018;
$npm: #cc3838;
$angular: #de0031;
$php: #777bb3;
$laravel: #ff2d20;
$composer: #f1e6d4;
$docker: #4b9cda;
$linkedin: #007bb6;
$mysql: #2f6172;
$git: #fe401e;
$vue: #0abe31;

$text-body: 'Open Sans', sans-serif;

.js{ color: $js; }
.sass{ color: $sass; }
.bootstrap{ color: $bootstrap; }
.npm{ color: $npm; }
.angular{ color: $angular; }
.php { color: $php; }
.laravel { color: $laravel; }
.composer{ color: $composer; }
.docker{ color: $docker; }
.mysql{ color: $mysql; }
.git{ color: $git; }
.vue { color: $vue; }

