$blue-color: #0A81C2;
$red-color: #b91616;
$black-color: #000000;
$white-color: #FFFFFF;

$bootstrap: #572364;
$sass: #CD6799;
$js: #f7e018;
$npm: #cc3838;
$angular: #de0031;
$php: #777bb3;
$laravel: #ff2d20;
$composer: #f1e6d4;
$docker: #448cc3;
$linkedin: #007bb6;
$mysql: #2f6172;
$git: #fe401e;